@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Italic.ttf");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBold.ttf");
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraBoldItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
/*
## Colors

### Primary

- Purple: hsl(259, 100%, 65%)
- Light red: hsl(0, 100%, 67%)

### Neutral

- White: hsl(0, 0%, 100%)
- Off white: hsl(0, 0%, 94%)
- Light grey: hsl(0, 0%, 86%)
- Smokey grey: hsl(0, 1%, 44%)
- Off black: hsl(0, 0%, 8%)*/
:root {
  --fs-100: 12px;
  --fs-500: 20px;
  --fs-900: 56px;
  --padding-x: 1.5rem;
  --padding-y: 3rem;
  --margin-top: 88px;
}

/*weights:
    400i,
    700,
    800i */
html {
  font-family: "Poppins";
}

body {
  font-size: 3.2rem;
  background-color: hsl(0, 0%, 94%);
  box-sizing: border-box;
}

@media (min-width: 600px) {
  body {
    display: grid;
    place-content: center;
    min-height: 100vh;
  }
}
.calculator-app {
  background-color: hsl(0, 0%, 100%);
  max-width: 840px;
  padding: var(--padding-y) var(--padding-x);
  border-radius: 30px;
  border-bottom-right-radius: 100px;
  margin-top: var(--margin-top);
}
.calculator-app .date-selector .row {
  display: flex;
  gap: 1rem;
}
.calculator-app .date-selector .row .form-control {
  width: 100%;
  /* Chrome, Safari, Edge, Opera */
  /* Firefox */
}
.calculator-app .date-selector .row .form-control > * {
  display: block;
}
.calculator-app .date-selector .row .form-control > *:not(:first-child) {
  margin-top: 0.5rem;
}
.calculator-app .date-selector .row .form-control label {
  font-size: var(--fs-100);
  letter-spacing: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 1%, 44%);
  cursor: pointer;
}
.calculator-app .date-selector .row .form-control label.error {
  color: hsl(0, 100%, 67%);
}
.calculator-app .date-selector .row .form-control input {
  font-size: var(--fs-500);
  font-weight: 700;
  width: 60%;
  border: 1px solid hsl(0, 0%, 86%);
  border-radius: 5px;
  padding: 1rem;
  margin-top: 0rem;
  cursor: pointer;
}
.calculator-app .date-selector .row .form-control input.error {
  border-color: hsl(0, 100%, 67%);
}
.calculator-app .date-selector .row .form-control input:focus {
  outline: 1px solid hsl(259, 100%, 65%);
}
.calculator-app .date-selector .row .form-control input::-webkit-outer-spin-button,
.calculator-app .date-selector .row .form-control input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculator-app .date-selector .row .form-control input[type=number] {
  -moz-appearance: textfield;
}
.calculator-app .date-selector .row .form-control span {
  font-size: 12px;
  color: hsl(0, 100%, 67%);
  font-style: italic;
  visibility: hidden;
}
.calculator-app .date-selector .row .form-control span.error {
  visibility: visible;
}

.calculator-result {
  border-top: 1px dotted hsl(0, 0%, 86%);
  margin-top: 63px;
  position: relative;
  padding-top: 3rem;
}
.calculator-result p {
  font-size: var(--fs-900);
  letter-spacing: -2%;
  font-weight: 900;
  font-style: italic;
  padding: 0;
  margin: 0;
  text-wrap: nowrap;
}
.calculator-result p span {
  color: hsl(259, 100%, 65%);
  font-weight: 800;
}
.calculator-result .btn {
  width: 64px;
  aspect-ratio: 1;
  background-color: hsl(259, 100%, 65%);
  margin: 2rem 0;
  border-radius: 50%;
  border: 0;
  position: absolute;
  top: -4rem;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer;
}
.calculator-result .btn:hover {
  background-color: hsl(0, 0%, 8%);
}

@media (min-width: 37.5rem) {
  :root {
    --fs-100: 14px;
    --fs-500: 32px;
    --fs-900: 104px;
    --padding-x: 56px;
    --padding-y: 56px;
    --margin-top: 88px;
  }
  .calculator-app {
    border-bottom-right-radius: 200px;
  }
  .calculator-result .btn {
    width: 96px;
    top: -5rem;
    left: unset;
    right: -48px;
  }
}/*# sourceMappingURL=style.css.map */